<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196990192596-63lhgf2ieo6lr73mk6qi4ro2mhojbida.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196990192596-63lhgf2ieo6lr73mk6qi4ro2mhojbida</string>
	<key>API_KEY</key>
	<string>AIzaSyDLx1hlw688DQp-sFLhiSjGuMBJhUc531o</string>
	<key>GCM_SENDER_ID</key>
	<string>196990192596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>react-native-firebase-au-7da3e</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-firebase-au-7da3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196990192596:ios:f968efbb41d1fa7a</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-firebase-au-7da3e.firebaseio.com</string>
</dict>
</plist>